includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    paths:
        - src/
    level: max
    ignoreErrors:
        # empty() can be useful
        - '#^Construct empty\(\) is not allowed\. Use more strict comparison\.$#'
        - '#no (return )?type specified\.$#'
