#$ ../vendor/bin/phpstan analyse

includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
parameters:
    level: max
    paths:
        - %currentWorkingDirectory%/
    autoload_files:
        - %currentWorkingDirectory%/../miniban/wp-miniban-htaccess.inc.php
        - %currentWorkingDirectory%/waf4wordpress-http-analyzer.php
