#$ phpstan analyse

parameters:
    level: max
    paths:
        - %currentWorkingDirectory%/
    autoload_files:
        - %currentWorkingDirectory%/../miniban/wp-miniban-htaccess.inc.php
        - %currentWorkingDirectory%/waf4wordpress-http-analyzer.php
