# phpstan analyse -l 7 -c phpstan.neon wp-fail2ban-bad-request-instant.inc.php

parameters:
    autoload_files:
        - '%currentWorkingDirectory%/wp-fail2ban-bad-request-instant.inc.php'
        - '%currentWorkingDirectory%/../miniban/wp-miniban-htaccess.inc.php'
    ignoreErrors:
        - '#^Constant [A-Z0-9_]+ not found\.$#'
