# phpstan analyse -l max .

parameters:
    autoload_files:
        - %currentWorkingDirectory%/wp-fail2ban-bad-request-instant.inc.php
        - %currentWorkingDirectory%/../miniban/wp-miniban-htaccess.inc.php
