#$ phpstan analyse

parameters:
    level: max
    paths:
        - %currentWorkingDirectory%/waf4wordpress-core-events.php
    autoload_files:
        - %currentWorkingDirectory%/../vendor/giacocorsiglia/wordpress-stubs/wordpress-stubs.php
        - %currentWorkingDirectory%/phpstan-bootstrap.php
        - %currentWorkingDirectory%/../miniban/wp-miniban-htaccess.inc.php
        - %currentWorkingDirectory%/waf4wordpress-core-events.php
        - %currentWorkingDirectory%/waf4wordpress-option-scan.php
    ignoreErrors:
        # Plugins
        - '#^Call to static method report_critical_event\(\) on an unknown class SucuriScanEvent\.$#'
        - '#^Call to static method get_instance\(\) on an unknown class SimpleHistory\.$#'
        - '#^Function SimpleLogger not found\.$#'
