#$ ../vendor/bin/phpstan analyse

includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - ../vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: max
    paths:
        - %currentWorkingDirectory%/waf4wordpress-core-events.php
    autoload_files:
        - %currentWorkingDirectory%/phpstan-bootstrap.php
        - %currentWorkingDirectory%/../miniban/wp-miniban-htaccess.inc.php
        - %currentWorkingDirectory%/waf4wordpress-core-events.php
        - %currentWorkingDirectory%/waf4wordpress-option-scan.php
    ignoreErrors:
        # Plugins
        - '#^Call to static method report_critical_event\(\) on an unknown class SucuriScanEvent\.$#'
        - '#^Call to static method get_instance\(\) on an unknown class SimpleHistory\.$#'
        - '#^Function SimpleLogger not found\.$#'
